#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #ededed;
}

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 30px;
  padding: 30px;
  flex-grow: 1;
}

#header {
  padding: 14px 0;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 2px 0 0 var(--gainsboro);
}

#header h1 {
  margin: 0;
  font-size: 18px;
  color: var(--green-teal);
}
