#results-card {
  flex-grow: 1;
  flex-basis: 580px;
  max-width: 582px;
  max-height: 582px;
  display: flex;
  flex-direction: column;
}

#results-card h2 {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  margin: 0;
  border-bottom: 2px solid var(--pinkish-grey);
  padding-bottom: 10px;
}

#results-container {
  overflow: scroll;
}

.result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--pinkish-grey);
  padding: 10px 0;
}

.result p {
  margin: 0;
  padding: 0;
  max-width: 130px;
  font-size: 16px;
  font-weight: bold;
}

.placeholder {
  margin: auto;
  text-align: center;
  font-weight: bold;
  color: var(--pinkish-grey);
}
