#results-card {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  min-width: 500px;
}

#results-container {
  overflow: auto;
  scrollbar-width: thin;
}

.result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--pinkish-grey);
  padding: 10px 0;
}

.result p {
  margin: 0;
  padding: 0;
  max-width: 130px;
  font-size: 16px;
  font-weight: bold;
}

.placeholder {
  margin: auto;
  text-align: center;
  font-weight: bold;
  color: var(--pinkish-grey);
}
