@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --warm-grey-75: #848484bf;
  --gainsboro: #dadada;
  --pinkish-grey: #c4c4c4;
  --azure: #0094ff;
  --green-teal: #0ab463;
  --emerald: #089954;

  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 14px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: inherit;
}

html,
body {
  margin: 0;
  width: fit-content;
  min-width: 100vw;
}
