@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --warm-grey-75: #848484bf;
  --gainsboro: #dadada;
  --pinkish-grey: #c4c4c4;
  --azure: #0094ff;
  --green-teal: #0ab463;
  --emerald: #089954;

  font-family: Montserrat, Helvetica, Arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: inherit;
}

body {
  margin: 0;
}

/* Button */

.button {
  padding: 8px 20px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
}

.button:enabled {
  border: solid 1px var(--green-teal);
  background-color: var(--green-teal);
}

.button:disabled {
  border: solid 1px var(--pinkish-grey);
  background-color: var(--pinkish-grey);
}

.button:enabled:hover {
  background-color: var(--emerald);
}

/* Text input */

.text-input {
  padding: 11px 10px;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px 0 var(--warm-grey-75);
  border: solid 1px var(--pinkish-grey);
  background-color: #fff;
  font-weight: bold;
  color: #383838;
}

.text-input:focus {
  outline: none;
  border: solid 1px #383838;
}

.text-input::placeholder {
  color: var(--pinkish-grey);
}

/* Radio input */

.radio-container {
  display: flex;
  justify-content: flex-start;
  column-gap: 30px;
  font-weight: bold;
}

.radio-container label {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.radio-container input {
  /* Add if not using autoprefixer */
  appearance: none;

  /* For iOS < 15 to remove gradient background */
  background-color: #fff;

  /* Not removed via appearance */
  margin: 0;

  /* Styling */
  width: 16px;
  height: 16px;
  border: solid 1px var(--pinkish-grey);
  border-radius: 50%;

  /* Center ::before element */
  display: grid;
  place-content: center;
}

.radio-container input::before {
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;

  /* Use instead of background-color so it can be printed (https://dev.to/alvaromontoro/comment/1214h) */
  box-shadow: inset 4px 4px #fff;
}

.radio-container input:checked::before {
  transform: scale(1);
}

.radio-container input:checked {
  background-color: var(--azure);
  border: 0;
}

/* Card */

.card {
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 var(--warm-grey-75);
  border: solid 1px var(--gainsboro);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 14px;
}
